/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERALI */

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-weight: 400;
}

.padding-bottom-top-30 {
  padding: 30px 0px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

:root {
  --blu: #0084fd;
  --light-blu: #b5ddff;
  --light-purple: #9792e4;
  --yellow: #fdc15f;
  --dark-grey: #333333;
  --main-space: 3px;
}

.main-container {
  max-width: 60vw;
  margin: 0 auto;
}

header {
  background-color: var(--blu);
}

nav {
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
}

/* SEZIONE UNO */

.sezioneCard {
  padding: 50px 0px;
  flex-wrap: wrap;
}

.sezioneCard .card {
  background-color: var(--light-blu);
  height: 200px;
  border-radius: 25px;
  width: calc((100% / 3) - 1.5rem);
  margin-bottom: 25px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.sezioneCard .card:first-child {
  width: calc(((100% / 3) * 2) - 1.5rem);
}

/* SEZIONE DUE */

.sezione-due {
  background-color: #9792e4;
  height: 400px;
  width: 100%;
  padding: 50px 0px;
}

.sezioneBlocchi {
  justify-content: center;
  align-items: flex-end;
  padding: 60px;
  gap: 30px;
}

.col {
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
}

.sezione-tre h2 {
  color: var(--light-purple);
}

/* SEZIONE TRE */

.sezioneTestimonials {
  padding: 50px 0px;
}

.sezione-tre,
.sezione-quattro {
  text-align: center;
}

.sezioneTestimonials_cards {
  padding-top: 40px;
  gap: 30px;
  flex-wrap: wrap;
}

.card-testimonials {
  width: 100%;
  height: 100px;
  border-radius: 25px;
  background-color: #9792e4;
}

/* SEZIONE QUATTRO */

.sezione-quattro {
  padding: 50px 0px;
  background-color: #9792e4;
}

.sezione-quattro h2 {
  color: #fff;
}

.sezioneBenefits_cards {
  padding: 50px 0px;
  flex-wrap: wrap;
  gap: 10px;
}

/* SEZIONE CINQUE */

.sezione-cinque {
  padding: 50px 0px;
}

.sezione-cinque h2 {
  color: var(--light-purple);
}

.sezioneAboutUs {
  justify-content: space-between;
}

.about-text {
  width: 60%;
  text-align: left;
}

/* SEZIONE SEI */

.sezione-sei {
  background-color: #9792e4;
  height: 400px;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #333333;
  height: 240px;
  padding: 50px 0px;
}

.footerContent p {
  text-align: center;
  color: #fff;
}

.footerContent a {
  color: var(--light-purple);
}
