/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERALI */

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 35px;
}

h4 {
  font-weight: 400;
}

.padding-bottom-top-30 {
  padding: 30px 0px;
}

:root {
  --blu: #0084fd;
  --light-blu: #b5ddff;
  --light-purple: #9792e4;
  --yellow: #fdc15f;
  --dark-grey: #333333;
}

.main-container {
  width: 60vw;
  margin: 0 auto;
}

header {
  background-color: var(--blu);
}

nav {
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
}

/* SEZIONE UNO */

.sezioneCard {
  padding: 50px 0px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.card {
  background-color: var(--light-blu);
  height: 200px;
  border-radius: 5px;
  width: calc((100% / 3) - 10px);
}

.card-1 {
  flex-grow: 1;
}

/* SEZIONE DUE */

.sezione-due {
  background-color: #9792e4;
  height: 400px;
  width: 100%;
  padding: 50px 0px;
}

.sezioneBlocchi {
  justify-content: center;
  align-items: flex-end;
  padding: 60px;
  gap: 30px;
}

.col {
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
}

/* SEZIONE TRE */

.sezioneTestimonials {
  padding-top: 50px;
}

.sezioneTestimonials_text {
  text-align: center;
}

.sezioneTestimonials_cards {
  padding-top: 40px;
  gap: 30px;
  flex-wrap: wrap;
}

.card-testimonials {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #9792e4;
}
